#banner
	.banner_content
		%h1 File Cabinet
		%p Your life's work. Organized, always.
		%button= link_to "Enter", new_user_registration_path

#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Organize
				%p Cornhole 90's roof party kogi flexitarian 8-bit craft beer chambray quinoa ugh live-edge organic pitchfork. Brooklyn wolf occupy, art party cornhole hashtag unicorn gastropub try-hard poke narwhal twee slow-carb yr. Sartorial cliche kinfolk skateboard locavore artisan kombucha. 

#bottom_cta
	.wrapper
		%h2 Go Ahead!
		%br 
		%button= link_to "Join now", new_user_registration_path